<div class="w-75 mx-auto">
<div class="d-flex justify-content-between">
  <p class="fs-1">Inventories by <%=current_user.name.capitalize%></p>
  <%= render 'button' %>
</div>
<%= render 'inventory' %>
</div>