<div class="recipe">
  <div class="recipe-name">
    <p>
      Recipe Name
    </p>
    <div class="remove-recipe">
      <%= button_to "Remove"%>
    </div>
  </div>
  <div class="description">
    description
  </div>
</div>
  