<div class="recipes">
<%= link_to "Add recipe", new_recipe_path, class: "btn btn-secondary"%>
<% @recipes.each do |recipe|%>
<div class="recipe">
  <div class="recipe-name">
    <div>
    <%= link_to "#{recipe.name}", recipe_path(recipe), id: "recipe_#{recipe.id}", class: "text-reset text-decoration-none fs-3 text-capitalize" %>
    </div>
    <div class="remove-recipe">
      <%= link_to 'Remove', recipe_path(recipe), method: :delete, class: "badge bg-danger text-decoration-none" %>
    </div>
  </div>
  <div class="description">
    <p><%= recipe.description %></p>
  </div>
</div>
<% end %>
</div>
  