// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipes {
  width: 70%;
  margin: 1rem auto;
}

.recipe {
  display: flex;
  border: 2px solid black;
  margin: 1rem auto;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 6px;
}

.recipe-detail {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.recipe-detail h1 {
  align-self: center;
}

.detals {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.time {
  display: flex;
}

.actions {
  display: flex;
  margin: 2rem 0 1rem 0;
  justify-content: space-between;
}

.descr {
  padding: 1rem;
}

hr {
  border-top: 1px solid black;
}
